/*

BODY

*/
body {
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	background: #e7e7e7;
	font-family: 'Anonymous Pro', monospace;
	line-height: 20px;
}

.wrapper{
	width: calc(100vw - 200px);
	display: flex;
	flex-direction: column;
	margin-left: 200px;

}
/*

HEADER

 */
.header {

	height: 100px;
	padding: 0 20px;
	box-sizing: border-box;
	background: #4e555b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-admin-clear {
	background: #871111;
	display: block;
	color: white;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	margin-right: 20px;
	transition: .5s;
	text-align: center;
}

.header-admin-clear:hover{
	background:#c41230;
	transition: .5s;
}


.user-info > span {
	width: 300px;
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 30px;
}

.search {
	margin-left: 10px;
}

.search > input {

}
.user-info > a {
	text-decoration: none;
	background: #2e3436;
	border-radius: 10px;
	margin: 5px;
	color: #fff;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s;
}

.user-info > a:hover{
	background:#c41230;
	transition: .5s;
}

.search > input:first-of-type {
	width: 500px;
	height: 40px;
	font-size: 25px;
}

.search > input:last-of-type {
	height: 46px;
	width: 100px;
	margin-left: 5px;
	font-size: 25px;
}

.user-info {
	display: flex;
	flex: 1;
}
/*

PAGINATION

*/
.pagination{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;

}

.pagination__item{
	padding: 5px 10px;
	outline: 2px solid #3d3f44;
	color: #3d3f44;
	transition: 0.5s;
}

.pagination__item:focus, .pagination__item:active{
	outline: 2px solid #3d3f44;
}

.pagination__item:hover{
	outline: 2px solid #c41230;
	background: #c41230;
	color: white;
	transition: 0.5s;
}

.active-page-link{
	background: #52555b;
	color: white;
}

.active-page-link:hover{
	background: #52555b;
	color: white;
	outline: 2px solid #3d3f44;
}

.active-page-link:hover{
	cursor: default;
}

.pagination__item:not(:last-child), .pagination__item-dots{
	margin-right: 15px;
}

.pagination__item-dots{
	align-self: end;
	font-size: 20px;
}
/*

NAV MENU

*/
.nav {
	width: 200px;
	background: #4e555b;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 0 15px 0px rgba(0, 0, 0, .42);
}

.nav > p {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #fff;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #000;
	font-weight: 600;
}

.nav_li,.nav_li-active {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid black;
}

.nav_li > a,
.nav_li-active > a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
    font-size: 18px;
}

.nav_li-active > a,
.nav_li:hover {
	background: rgba(242, 242, 242, 0.1);
	color: #FFFFFF;
}

/*

CONTENT

*/

.fullDesc{
	position: relative;
}

.table-content{
	font-size: 15px;
}

.hidden_fullDesc{
	display: none;
	top: 0;
	left: 0;
	position: absolute;
    border: 1px solid black;
	box-shadow: 2px 2px 3px black;
    padding: 5px 5px;
	background: #e7e7e7;
	z-index: 1000;
}

.fullDesc:hover .hidden_fullDesc{
	display: block;
}


.columns{
	background: #4e555b;
}

.column{
	font-size: 16px;
    text-transform: uppercase;
    padding: 10px 5px;
	color: white;
}

.admin-input {
	background: #e7e7e7;
    border: 0;
    height: 100%;
	font-family: 'Anonymous Pro', monospace;
}

.container {
	background: #e7e7e7;
	padding: 20px;
	box-sizing: border-box;
}
caption {
	color: white;
	padding: 8px;
	margin-bottom: 10px;
}

table {
	border: 1px solid #898E93;
	width: 100%;
	margin-bottom: 30px;
}
/* границы ячеек первого ряда таблицы */
th {
	border: 2px solid #898E93;
	padding: 5px 5px;
	vertical-align: middle;
}
/* границы ячеек тела таблицы */
td {
	height: 30px;
	border: 2px solid #898E93;
	padding: 5px 5px;
	vertical-align: middle;
}
.td__change, .td__delete {
	width: 80px;
}

td > a{
	width: 100%;
	height: 100%;
}

a.admin__add
{
	color: white;
	background: #4e555b;
	padding: 8px;
	margin-bottom: 20px;
	transition: .3s;
}

a.admin__add:hover {
	background:#c41230;
	transition: .3s;
}

.edit_caption{
	background: #4e555b;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #898E93;
}

.admin-images {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}

.admin-img {
	max-width: 250px;
	border: 1px solid #b8b8b8;
}

.tbody_edit {
	display: flex;
	flex-direction: column;
}

.th_edit
{
	height: auto;
	width:150px;
	font-size: 16px;
    text-transform: uppercase;
    padding: 10px 5px;
    color: white;
	background: #4e555b;
}

.td_edit
{
	height: initial;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.tr_edit {
	display: flex;
	flex-direction: row;
}

input[type="radio"]:checked + label {
	border: 3px solid rgba(255,100,100,50%);
}

.img-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.img-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	margin: 5px;
}

.delete-icon {
	display: inline-block;
	background: url('/images/icons/remove.png') 0 0 no-repeat;
	position: absolute;
	margin-left: -9px;
	margin-top: -6px;
	width:20px;
	height: 20px;
	cursor: pointer;
}

.delete-icon-alert {
	display: inline-block;
	background: url(/images/icons/remove.png) 0 0 no-repeat;
	margin-top: -2px;
	margin-left: 2px;
	width:20px;
	height: 20px;
}

.delete-table {
	margin-top: -31px;
}

.add-input {
	padding-bottom: 15px;
}

.error-img {
	display: flex;
	color: #a22727;
	font-size: 18px;
	margin: 2px 2px 7px 2px;
	background: #ffcccc;
	padding: 3px;
}

.clear-block {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.change-btn{
	padding: 5px 10px 5px 10px;
	background:#4e555b;
	color: white;
	border-radius: 10px;
	transition: .3s;
}

.change-btn:hover{
	background:#c41230;
	transition: .3s;
}

.td_edit select {
	font-family: 'Anonymous Pro', monospace;
	height: 100%;
    background: #e7e7e7;
    border: none;
    font-size: 17px;
	cursor: pointer;
}

td textarea{
	font-family: 'Anonymous Pro', monospace;
	font-size: 17px;
}

.delete-btn{
	width: 100%;
}

.save-btn, .delete-btn{
	font-weight: 700;
	padding: 10px 5px 10px 5px;
	border: 0;
	background:#4e555b;
	color: white;
	font-family: 'Anonymous Pro', monospace;
	transition: .5s;
}

.save-btn:hover, .delete-btn:hover{
	background:#c41230;
	transition: .5s;
}

.edit_table td, .delete-table td{
	padding: 0;
}

.edit_table input, .edit_table select, .edit_table textarea{
	background-color: white;
	padding: 10px 5px;
}

.td_value{
	height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.empty{
	border: 2px solid red;
}

.red-placeholder::placeholder{
	color: red;
}

.far{
	height: 30px;
    width: 30px;
}