
/* basic header, footer and content grid layout */
html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Unbounded';
}

header{
    flex: 0 0 auto;
}

.main-content{
    flex: 1 0 auto;
}

footer{
    flex: 0 0 auto;
}


/* header */
.header{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.header__main-header{
    padding: 24px 0 24px 0;
}

.header__main-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: 0 auto;
    max-width: 1180px;
}

.header__logo{
    width: 25%;
    position: relative;
    z-index: 99;
}

.header__logo-link{
    position: absolute;
    top: -50px;
    display: inline-block;
    z-index: 5;
    height: 100%;
    width: 100%;
}

.header__logo-img{
    width: 100%;
}

.header__search-form{
    display: flex;
    align-items: center;
    width: 450px;
    display: flex;
    border: 2px solid #c41230be;
    border-radius: 10px;
    overflow: hidden;
}

.header__search-input{
    flex: 1;
    height: 40px;
    padding: 0;
    border: 0;
    padding-left: 10px;
}

.header__search-btn{
    border: 0;
    background: white;
}

.header__search-icon{
    height: 25px;
}

.icon{
    width: 40px;
    height: 41.6px;
    margin-right: 7px;
}

.header__side-header{
    background: #3d3f44;
    height: 38px;    
}

.header__menu{
    display: flex;
    justify-content: right;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.header__menu-item{
    display: flex;
}

.header__menu-link{
    display: block;
    height: 100%;
    color: white;
    padding: 0 20px 0 20px;
    transition: .4s;
}

.header__menu-link:hover{
    background: #c41230;
    transition: .4s;
}

.header__address, .header__contacts{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
}

.header__address-description, .header__contacts-description{
    color: #3d3f44;
}

.active{
    background: #c41230;
    transition: .4s;
}

.active:hover{
    background: #606163;
    transition: .4s;
}

/* dropdown-menu in side-header */
.header__dropdown-menu{
    position: relative;
    display: block;
}

.header__dropdown-tags{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #3d3f44;
    color: white;
    top: 45px;
    right: -134px;
    padding: 10px 0;
    z-index: 10;
}

.header__dropdown-link{
    color: white;
    text-align: start;
    padding: 0px 0px 0px 40px;
    transition: .4s;
    position: relative;
    font-size: 15px;
    font-weight: 300;
}

.header__dropdown-link::before{
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    left: 20px;
    top: 14px;
    background-image: url('../images/dropdown-mark.svg');
    display: block;
}

.header__dropdown-link:hover{
    background: #c41230;
    transition: .4s;
}

.undroped::after{
    content: '  \25BA';
}

.droped::after{
    content: '  \25BC';
}

.visible{
    display: flex;
}

/* footer */
.footer .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}


.footer{
    background-color: #3d3f44;
    box-shadow: 0px 0px 23px rgb(0 0 0 / 50%);
    padding: 25px 0 25px 0;
}

.footer__team-info{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__team-name{
    color: #fff;
    font-size: 13px;
    padding: 8px 21px;
    background-color: #52555b;
    text-align: center;
}

.footer__team-description{
    font-size: 16px;
    font-weight: 200;
    color: white;
}

.footer__info-list{
    display: flex;
    justify-content: space-between;
}

.footer__info-item{
    display: flex;
    align-items: center;
}

.footer__info-item:not(:last-child){
    margin-right: 45px;
}

.info-item__img{
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 30px;
    margin-right: 8px;
    overflow: hidden;
    border: 1px solid #fff;
}

.info-item__icon{   
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}

.info-item__link{
    display: inline-block;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background: transparent;
    transition: .4s;
    margin-right: 2px;
}

.vk{
    background-image: url('../images/social/vk-icon.svg');
}

.vk:hover{
    background-color: #48729e;
}

.info-item__social{
    margin-bottom: 2px;
}

.info-item__name{
    color: white;
}

.bitrix{
    background-image: url('../images/social/bitrix-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.bitrix:hover{
    background-color: white;
}   

.info-item__name{
    font-weight: 200;
    font-size: 15px;
}

/* main-content */
.main-content .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-content{
    padding: 15px 0 15px 0;
}

/* product-card */
.product-card__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.product-card{
    color: #3d3f44;
    display: flex;
    height: 400px;
    width: 48%;
    align-items: center;
    padding: 10px;
    outline: 2px solid rgba(86, 85, 85, 0);
    transition: .5s;
    margin-bottom: 35px;
}

.product-card__img-block{
    position: relative;
    width: 300px;
    height: 300px;
    margin-right: 20px;
    overflow: hidden;
}

.product-card__img{
    width: 100%;
    height: 100%;
    transition: 1s;
    object-fit: contain;
}

.product-card:hover .product-card__img{
    width: 120%;
    height: 110%;
    transition: 1s;
}

.product-card__title{
    margin-bottom: 10px;
    max-width: 220px;
}

.product-card__hlink{
    text-decoration: none;
    color: #3d3f44;
    font-size: 30px;
}

.product-card__chr-title{
    font-size: 10px;
    margin-bottom: 5px;
}

.product-card__chr-value{

    font-weight: 400;
}

.product-card__chr{
    margin-bottom: 15px;
}

.product-card__chr-list{
    margin-bottom: 36px;
}

.product-card__more{
    padding: 15px 30px 15px 30px;
    border: 1px solid black;
    font-size: 18px;
    color: #3d3f44;
    transition: .6s;
}

.product-card__more:hover{
    color: white;
    border: 1px solid white;
    background: #c41230;
    transition: .6s;
}

/* pagination */
.pagination{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.pagination__item{
    padding: 5px 10px;
    outline: 2px solid #3d3f44;
    color: #3d3f44;
    transition: 0.5s;
}

.pagination__item:focus, .pagination__item:active{
    outline: 2px solid #3d3f44;
}

.pagination__item:hover{
    outline: 2px solid #c41230;
    background: #c41230;
    color: white;
    transition: 0.5s;
}

.active-page-link{
    background: #52555b;
    color: white;
}

.active-page-link:hover{
    background: #52555b;
    color: white;
    outline: 2px solid #3d3f44;   
}

.active-page-link:hover{
    cursor: default;
}

.pagination__item:not(:last-child), .pagination__item-dots{
    margin-right: 15px;
}

.pagination__item-dots{
    align-self: end;
    font-size: 20px;
}

/* product-detailed */
.product-detailed__main
{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    padding: 10px 0 10px 20px;
    margin-bottom: 20px;
    background: #3d3f44;
    color: white;
    align-items: center;
}

.product-detailed__buy-btn {
    width: 100%;
    margin-right: 15px;
    padding: 15px 5px;
}

.product-detailed__buy-btn{
    border: 0;
    font-family: 'Unbounded';
    font-size: 28px;
    background: #c41230;
    color: white;
    transition: .6s;
}

.product-detailed__buy-btn:hover{
    color: white;
    background-color: #3d3f44;
    transition: .6s;
}

.product-detailed {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-detailed__img{
    flex: 0 0 50%;
    margin-bottom: 20px;
    height: auto;
    overflow: hidden;
}

.product-detailed__img img{
    width: 100%;
    max-height: 590px;
    object-fit: contain;
}

.product-detailed__description{
    flex: 0 0 47%;
}

.product-detailed__subtitle{
    font-size: 23px;
    margin-bottom: 20px;
    background: #3d3f44;
    padding: 10px 10px;
    color: white;
}

.product-detailed__underline{
    flex: auto;
    border-bottom: 1px dotted #3d3f44;
    line-height: 30px;
    height: 20px;
    margin: 0 3px;
}

.poppup__price .product-detailed__underline{
    height: 16px;
}

.poppup__price .product-detailed__underline{
    height: 16px;
}

.product-detailed__price .product-detailed__underline{
    height: 18px;
}

.product-detailed__subdescription{
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 30px;
    padding-left: 5px;
}

.product-detailed__price{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 22px;
}

.product-detailed__characteristic {
    display: flex;
    justify-content: space-between;
}

.product-detailed__characteristic:not(:last-child){
    margin-bottom: 5px;
}

/* poppup */
.popup{
    display: none;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    overflow:hidden;
    top: 0;
    left: 0;
    position:fixed;
    z-index: 999;
}

.popup__content{
    margin: 20px auto auto auto;
    border-radius: 10px;
    width: 1300px;
    min-height: 650px;
    padding:10px;
    background-color: white;
    box-shadow: 0px 0px 10px #000;
}

.poppup__container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.popup__exit{
    margin-left: 1275px;
    border: 0;
    background: white;
}

.poppup__img{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.poppup__img img{
    width: 100%;
    object-fit: contain;
}

.poppup__title{
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: 500;
}

.poppup__subtitle{
    margin-bottom: 5px;
    font-weight: 300;
}

.poppup__product-info {
    padding-top: 30px;
    width: 45%;
}

.poppup__product-name {
    font-size: 30px;
    margin-bottom: 15px;
}

.poppup__price {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.poppup__input{
    border: 1.5px solid rgba(34, 34, 34, 0.7);
    border-radius: 6px;
    padding: 3px 15px;
    margin-bottom: 18px;
    width: 400px;
    height: 30px;
    font-size: 20px;
    color: #3d3f44;
}

.send-btn{
    width: 431.6px;
    padding: 30px 0;
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c41230;
    font-size: 25px;
    color: white;
    font-family: 'Unbounded';
    border: 0;
}

.big-input{
    height: 80px;
    max-height: 100px;
}

/*  contacts */
.contacts__main-title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px;
}

.contacts__team-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contacts__team-title {
    flex: 0 0 40%;
}

.contacts__right-line{
    border-right: 1px solid #3d3f44;
    width: 10%;
    padding-left: 5%;
    margin-right: 5%;
}

.contacts__team-name{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
}

.contacts__team-prof{
    font-weight: 300;
    font-style: italic;
}

.contacts__team-tel{
    flex: 0 0 20%;
    align-self: center;
}

.contacts__team-tel-subtitle, .contacts__team-email-subtitle{
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: 300;
}

.contacts__team-numberphone, .contacts__team-email-value{
    font-size: 20px;
    font-weight: 400;
}

.contacats__team-email{
    flex: 0 0 20%;
    align-self: center;
}

/* error 404 */ 
.error_img{
    margin: 0 auto;
    width: 40%;
    height: auto;
    position: relative;
}

.error_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* swiper */
.swiper{
    height: 400px;
}

.swiper-slide{
    text-align: center;
    font-size: 24px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    width: 90%;
    object-fit: contain;
}
  
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 0 !important; 
    left: auto;
    padding: 10px 2px 10px 10px;
    border: 10px;
    background: #3d3f4441;
    color: #c41230c0 !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 0 !important; 
    right: auto;
    padding: 10px 10px 10px 2px;
    background: #3d3f4441;
    color: #c41230c0 !important;
}

.swiper-button-next:hover, 
.swiper-rtl .swiper-button-prev:hover, 
.swiper-button-prev:hover, 
.swiper-rtl .swiper-button-next:hover{
    background: #3d3f4480;
    color: #c41230 !important;
}

.swiper-button-disabled{
    display: none;
}

/* tags */
.dropdown__form{
    display: flex;
    flex-direction: column;
}

.dropdown__wraper {
    padding: 0 15px 0 15px;
    display: flex;
    flex: 1 1 auto;
    width: 650px;
    margin-bottom: 15px;
}

.dropdown__tag{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    flex: 1 0 auto;
    margin: 0 5px;
}

label{
    display: inline-block;
}

.dropdown__tag-name{
    font-size: 18px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    padding-bottom: 0;
}

.dropdown__btn{
    display: block;
    align-self: flex-end; 
    width: 200px;
    height: 40px;
    margin-right: 15px;
    color: white;
    background: #3d3f44;
    border: 1px solid white;
    font-size: 20px;
    font-family: 'Unbounded';
    transition: .4s;
}

.dropdown__btn:hover{
    background: #c41230;
    transition: .4s;
}

.order-status {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.order-status__img {
    width: 600px;
    height: 500px;
}

.order-status__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.order-status__desc-block {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.order-status__title {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 300;
}
.order-status__description {
    font-weight: 100;
    font-size: 25px;
    line-height: 28px;
}

/* mobile */
.mb__header-side{
    display: none;
}

.mb__header-logo{
    display: block;
    width: 200px;
    height: 38px;
    position: relative;
}

.mb__header-logo img{
    height: 200%;
    width: 100%;
    position: absolute;
    top: -2px;
}

.mb__hamburger{
    display: none;
}

.mb__hamburger-icon{
    display: none;
    position: relative;
    height: 38px;
}

.mb__hamburger-icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}